
.big {
  width: 620px;
  height: 465px;

}



.carousel {
  padding-bottom: 25px;
}

.project {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  -moz-opacity: 0.90;
  opacity: 0.90;
  cursor: pointer;
 }


#hide_cs:hover {
  color:red;
}

.hide {
  display:none;
}

.btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

#project_list {
  padding-top: 20px;
}

.collapsed_art, .collapsed_cs{
  
}

.collapsed_art:hover, .collapsed_cs:hover{
  background-color: red;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.project:hover {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
 }

.pro {
  padding: 5px 20px 0px 20px;
}

.pr {
  padding-left: 5px, 5px, 0px, 5px;
  width: 200px;
  height: 350px;
}

.artwork {
  padding: 5px 40px 0px 40px;

}

.art {
  padding: 5px 5px 0px 5px;

  width: 300px;
  height:160px;
}

.ti {
  margin-bottom: 0px;

}

.nomargin{
  margin-left: 0px;
  padding-left: 0px;
}

.white {
  color: white;

}

.black {
  color: black;

}

.name {
 font-size: 42px;
}

.hiddenp {
  visibility: hidden;
}

.space {
  display: none
}


#wrapper {


}

#real_img, #paint_img {
  margin-top: 20px;
}

#artDiv {
    background: black;
}

#csDiv {

    background: url('../imgs/moon.png');
    background-size: 200px 800px;
    background-repeat:no-repeat;
    display: compact
}


html, body {height: 100%;}

#artDiv, .container-fluid, #csDiv
{
    border: 2px solid #000;
    overflow-y:auto;
    height:100%;
}​